<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="../css/fiction.css">

  <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap" rel="stylesheet">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Story Flow</title>
</head>

<body>

  <div class="logo">Story Flow</div>
  <div class="menu">
    <a href="/main.html">홈</a> |
    <a href="/sold.html">저작권매입</a> |
    <a href="/fiction.html">소설</a> |
    <a href="/login.html">LOGIN</a>
    <hr class="line"> <!-- 여기까지 헤드 라인 -->
  </div>
  <span class="fiction">유료 소설</span> <a href="/board.html" class="menu">글쓰기</a>
  <br>

  <a href="fictionin.html" class="fictionbox">
    <!-- 소설 내부 이동 -->
    <div class="comment">댓글</div>
  </a>

  <a href="fictionin.html" class="fictionbox">
    <div class="comment">댓글</div>
  </a>

  <a href="fictionin.html" class="fictionbox">
    <div class="comment">댓글</div>
  </a>

  <a href="fictionin.html" class="fictionbox">
    <div class="comment">댓글</div>
  </a>

  <a href="fictionin.html" class="fictionbox">
    <div class="comment">댓글</div>
  </a>

  <a href="fictionin.html" class="fictionbox">
    <div class="comment">댓글</div>
  </a>

  <a href="fictionin.html" class="fictionbox">
    <div class="comment">댓글</div>
  </a>

  <a href="fictionin.html" class="fictionbox">
    <div class="comment">댓글</div>
  </a>

  <a href="fictionin.html" class="fictionbox">
    <div class="comment">댓글</div>
  </a>

  <a href="fictionin.html" class="fictionbox">
    <div class="comment">댓글</div>
  </a>

  <a href="fictionin.html" class="fictionbox">
    <div class="comment">댓글</div>
  </a>

  <a href="fictionin.html" class="fictionbox">
    <div class="comment">댓글</div>
  </a>

  <hr style="margin-top: 500px; margin-right: 280px;">
  <!--선 정렬-->

  <div class="fiction">무료 소설</div>

  <a href="fictionin.html" class="fictionbox">
    <div class="comment">댓글</div>
  </a>

  <a href="fictionin.html" class="fictionbox">
    <div class="comment">댓글</div>
  </a>

  <a href="fictionin.html" class="fictionbox">
    <div class="comment">댓글</div>
  </a>

  <a href="fictionin.html" class="fictionbox">
    <div class="comment">댓글</div>
  </a>

  <a href="fictionin.html" class="fictionbox">
    <div class="comment">댓글</div>
  </a>

  <a href="fictionin.html" class="fictionbox">
    <div class="comment">댓글</div>
  </a>

  <a href="fictionin.html" class="fictionbox">
    <div class="comment">댓글</div>
  </a>

  <a href="fictionin.html" class="fictionbox">
    <div class="comment">댓글</div>
  </a>

  <a href="fictionin.html" class="fictionbox">
    <div class="comment">댓글</div>
  </a>

  <a href="fictionin.html" class="fictionbox">
    <div class="comment">댓글</div>
  </a>

  <a href="fictionin.html" class="fictionbox">
    <div class="comment">댓글</div>
  </a>

  <a href="fictionin.html" class="fictionbox">
    <div class="comment">댓글</div>
  </a>
  <footer>
    <div class="devl">developers: pavv150, nywogud, qusgotjd123</div>

  </footer>
</body>

</html>