<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="../css/sold.css">
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap" rel="stylesheet">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Story Flow</title>
</head>

<body>

  <div class="logo">Story Flow</div>
  <div class="menu">
    <a href="/main.html">홈</a> |
    <a href="/sold.html">저작권매입</a> |
    <a href="/fiction.html">소설</a> |
    <a href="/login.html">LOGIN</a>
    <hr class="line"> <!-- 여기까지 헤드 라인 -->
  </div>
  <h1>저작권 매입</h1>

  <form action="" method="POST">
    <!-- 액션에 서버 url-->
    <div class="fictionbox">
      <div class="money">저작권료 : </div>
      <button type="submit" class="buy">구매</button>
    </div>

    <div class="fictionbox">
      <div class="money">저작권료 : </div>
      <button type="submit" class="buy">구매</button>
    </div>

    <div class="fictionbox">
      <div class="money">저작권료 : </div>
      <button type="submit" class="buy">구매</button>
    </div>

    <div class="fictionbox">
      <div class="money">저작권료 : </div>
      <button type="submit" class="buy">구매</button>
    </div>

    <div class="fictionbox">
      <div class="money">저작권료 : </div>
      <button type="submit" class="buy">구매</button>
    </div>

    <div class="fictionbox">
      <div class="money">저작권료 : </div>
      <button type="submit" class="buy">구매</button>
    </div>

    <div class="fictionbox">
      <div class="money">저작권료 : </div>
      <button type="submit" class="buy">구매</button>
    </div>

    <div class="fictionbox">
      <div class="money">저작권료 : </div>
      <button type="submit" class="buy">구매</button>
    </div>

    <div class="fictionbox">
      <div class="money">저작권료 : </div>
      <button type="submit" class="buy">구매</button>
    </div>

    <div class="fictionbox">
      <div class="money">저작권료 : </div>
      <button type="submit" class="buy">구매</button>
    </div>

    <div class="fictionbox">
      <div class="money">저작권료 : </div>
      <button type="submit" class="buy">구매</button>
    </div>

    <div class="fictionbox">
      <div class="money">저작권료 : </div>
      <button type="submit" class="buy">구매</button>
    </div>

    <div class="fictionbox">
      <div class="money">저작권료 : </div>
      <button type="submit" class="buy">구매</button>
    </div>
    <div class="fictionbox">
      <div class="money">저작권료 : </div>
      <button type="submit" class="buy">구매</button>
    </div>
  </form>
  <footer>
    <div class="devl">developers: pavv150, nywogud, qusgotjd123</div>

  </footer>
</body>

</html>